@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-navy: #0B1F3A;
  --color-navy-light: #16305A;
  --color-navy-dark: #060F1D;

  --color-emerald: #0F6B4C;
  --color-emerald-light: #158C64;
  --color-emerald-dark: #0A4A34;

  --color-gold: #C9A24B;
  --color-gold-light: #E0C275;
  --color-gold-dark: #A67F2E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
